Repository Arylo/npm-project-init: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --tab-width 4, npm run lint:typescript -- --fix, npm run lint:javascript -- --fix, prettier --write --tab-width 2, prettier --write --tab-width 2 --parser yaml, prettier --write --tab-width 2 --parser json

.lintstagedrc:

{
  "linters": {
    "{lib,public,scripts,test}/**/*.ts": [
      "prettier --write --tab-width 4",
      "npm run lint:typescript -- --fix",
      "git add"
    ],
    "{lib,public,scripts,test}/**/*.js": [
      "prettier --write --tab-width 4",
      "npm run lint:javascript -- --fix",
      "git add"
    ],
    "{,public/}*.{json,yaml,yml}": [
      "prettier --write --tab-width 2",
      "git add"
    ],
    "{,public/}.editorconfig": [
      "prettier --write --tab-width 2 --parser yaml",
      "git add"
    ],
    "{,public/}.lintstagedrc": [
      "prettier --write --tab-width 2 --parser json",
      "git add"
    ]
  },
  "globOptions": {
    "dot": true
  }
}

Fix Error
  .travis.yml
  lib/patches/2.1.4.ts
  lib/patches/2.1.5.ts
  lib/utils/json.ts
  lib/utils/pkg.ts
  test/patches/2.1.4.spec.ts
  test/resource.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

auto lint When merge action
  .huskyrc.json
  lib/patches/2.1.6.ts
  package.json
  public/.huskyrc.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

Update lint script
  .eslintignore
  .lintstagedrc
  lib/patches/2.1.6.ts
  lib/patches/2.1.7.ts
  lib/utils/pkg.ts
  package.json
  public/.eslintignore
  public/.lintstagedrc
  public/package.json
  test/patches/common.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

Fix `.lintstagedrc` Checker
  test/commands/update.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

add vsocde workspace settings
  .vscode/settings.json
  lib/commands/update.ts
  lib/patches/2.1.8.ts
  package.json
  public/.vscode/settings.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

CRLF -> LF
  package.json
  public/tsconfig.json
Due: prettier --write --tab-width 2

chore(ver): add commitlint
  .huskyrc.json
  lib/patches/2.1.10.ts
  package.json
  public/.huskyrc.json
  public/package.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

fix(update): fix diff versions order
  lib/patches/index.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

refactor(pkg): rename methods
  lib/patches/2.1.10.ts
  lib/patches/2.1.4.ts
  lib/utils/pkg.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

refactor(2.1.10): Update the way of update file
  lib/patches/2.1.10.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

refactor: update fs classes
  lib/commands/update.ts
  lib/patches/2.0.5.ts
  lib/patches/2.1.1.ts
  lib/patches/2.1.3.ts
  lib/patches/2.1.5.ts
  lib/patches/2.1.6.ts
  lib/patches/2.1.7.ts
  lib/utils/adapter.d.ts
  lib/utils/config.ts
  lib/utils/json.d.ts
  lib/utils/json.ts
  lib/utils/pkg.ts
  test/patches/2.0.4.spec.ts
  test/patches/2.0.5.spec.ts
  test/patches/2.1.1.spec.ts
  test/patches/2.1.3.spec.ts
  test/patches/2.1.4.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

chore(2.1.11): add test nodejs version
  lib/patches/2.1.11.ts
  lib/utils/config.d.ts
  lib/utils/json.d.ts
  lib/utils/yaml.d.ts
  lib/utils/yaml.ts
  package.json
  public/.travis.yml
  test/commands/update.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore: update package modules version
  lib/patches/2.1.12.ts
  package.json
  public/package.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore(yaml): change the yaml module
  lib/utils/yaml.ts
  package.json
  test/resource.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

fix: fix test fail
  lib/patches/2.1.13.ts
  package.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore: add `ftconfig` module to require `json`/`yaml` files
  lib/patches/2.1.10.ts
  lib/patches/2.1.11.ts
  lib/patches/2.1.3.ts
  lib/patches/2.1.5.ts
  lib/patches/2.1.6.ts
  lib/patches/2.1.7.ts
  lib/utils/config.ts
  lib/utils/json.ts
  lib/utils/pkg.ts
  lib/utils/yaml.ts
  package.json
  test/commands/update.spec.ts
  test/patches/2.1.3.spec.ts
  test/utils.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

release(2.1.15): update ava version
  lib/patches/2.1.15.ts
  lib/patches/index.ts
  package.json
  public/package.json
  public/test/index.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

release(2.1.16): fix update fail with non-exist file
  lib/commands/update.ts
  lib/patches/2.1.15.ts
  lib/patches/index.ts
  lib/utils.ts
  lib/utils/adapter.d.ts
  lib/utils/config.d.ts
  lib/utils/json.d.ts
  lib/utils/yaml.d.ts
  package.json
  test/ava.ts
  test/patches/2.0.4.spec.ts
  test/patches/2.1.16.spec.ts
  test/utils.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

refactor: update utils
  lib/commands/update.ts
  lib/constants.ts
  lib/patches/2.1.11.ts
  lib/patches/2.1.5.ts
  lib/patches/2.1.6.ts
  lib/patches/2.1.7.ts
  lib/patches/index.ts
  lib/types/config.d.ts
  lib/types/json.d.ts
  lib/types/version.d.ts
  lib/types/yaml.d.ts
  lib/utils.ts
  lib/utils/pkg.ts
  lib/utils/versions.ts
  test/ava.ts
  test/commands/update.spec.ts
  test/patches/2.1.3.spec.ts
  test/patches/2.1.4.spec.ts
  test/utils/versions.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

test: update test units
  test/ava.ts
  test/commands/update.spec.ts
  test/utils/macroes.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

fix(test): fixed test fail
  test/commands/update.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix

release(2.1.17): add the feat of update queue
  lib/commands/update.ts
  lib/utils/versions.ts
  package.json
  test/commands/update.spec.ts
  test/utils/macroes.ts
  test/utils/versions.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

choco: updated travis script
  .travis.yml
Due: prettier --write --tab-width 2

choco: update travis script
  .travis.yml
Due: prettier --write --tab-width 2

choco: add stages order
  .travis.yml
Due: prettier --write --tab-width 2

release(2.1.18): update travis script
  lib/patches/2.1.18.ts
  package.json
  public/.travis.yml
  test/commands/update.spec.ts
  test/utils/macroes.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

style(2.1.19): update lint
  lib/patches/2.1.19.ts
  package.json
  public/tslint.json
  test/patches/2.1.19.spec.ts
  tslint.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

feat: join 996.icu
  LICENSE.996ICU
  README.md
  lib/patches/2.1.20.ts
  package.json
  public/LICENSE.996ICU
  public/README.md
  test/commands/update.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

fix: fixed miss config file when commitlint
  .huskyrc.json
  _scripts/README.md
  _scripts/commitlint.config.js
  lib/patches/2.1.21.ts
  package.json
  public/.huskyrc.json
  public/_scripts/README.md
  public/_scripts/commitlint.config.js
  test/resource.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, npm run lint:javascript -- --fix, prettier --write --tab-width 2

chore: move script files
  .huskyrc.json
  .scripts/.lintstagedrc
  .scripts/README.md
  .scripts/commitlint.config.js
  .scripts/copy.js
  .scripts/tsconfig.prod.json
  .scripts/tsconfig.test.json
  _scripts/commitlint.config.js
  package.json
  tsconfig.test.json
Due: prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

chore: upgrade node module version
  lib/patches/2.1.22.ts
  package.json
  public/package.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore: upgrade nodejs required
  .travis.yml
  package.json
Due: prettier --write --tab-width 2

fix: fix tsc fail
  .scripts/tsconfig.prod.json
Due: prettier --write --tab-width 2

test: fixed travis script
  .travis.yml
Due: prettier --write --tab-width 2

build: update
  .travis.yml
  lib/patches/2.1.23.ts
  lib/utils/out.ts
  package.json
  public/.travis.yml
  public/package.json
  test/utils/macroes.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore: add pretty config file
  .scripts/.lintstagedrc
  .scripts/.prettierrc.yml
Due: prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

feat: support pretty config file
  lib/patches/2.1.24.ts
  lib/types/json.d.ts
  package.json
  public/.lintstagedrc
  public/_scripts/.prettierrc.yml
  test/patches/2.1.24.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

fix: fixed name format
  lib/utils.ts
  package.json
  test/utils/namePipe.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

fix: fixed ci test fail
  test/patches/common.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix
